@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";



body {
  font-family: "Poppins", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.ck-editor__editable {
  min-height: 250px;
}

.ck-content ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}

.ck-content ul {
  list-style-type: disc !important;
  padding-left: 20px !important;
}