@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ck-editor__editable {
  min-height: 250px;
  font-family: "Jost", sans-serif;
}

.ck-content {
  font-family: "Jost", sans-serif;
}

.ck-content ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}

.ck-content ul {
  list-style-type: disc !important;
  padding-left: 20px !important;
}