@import "tailwindcss";

@font-face {
  font-family: "Raleway";
  src: url(./assets/font/Raleway/static/Raleway-Regular.ttf);
}

body {
  font-family: "Raleway";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
